.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  margin: 10px;
  border: 1px solid #cbced2;
  border-radius: 10px;
  height: 200%;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  margin: 10px;
  border: 1px solid #cbced2;
  border-radius: 10px;
  padding: 10px;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  margin: 10px;
  border: 1px solid #cbced2;
  border-radius: 10px;
}

/* Write your code here. */
.title {
  color: blue;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: bold;
}
.para {
  color: #64748b;
  font-size: 18px;
  font-family: 'Roboto';
  padding: 5px;
}
.button-style {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  color: #326a9d;
  width: 100px;
  border-color: #326a9d;
  height: 35px;
  border-radius: 10px;
  margin: 25px;
}
.containers {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
